<app-event-list></app-event-list>

<div>
  <h2>Input User name</h2>
  <div *ngIf="nameInput?.invalid && (nameInput?.dirty || nameInput?.touched)">
    <p class="errorText" *ngIf="nameInput?.errors?.['doesntExist']">
      Name not found
    </p>
  </div>
  <div *ngIf="nameInput?.invalid && (nameInput?.dirty || nameInput?.touched)">
    <p class="errorText" *ngIf="nameInput?.errors?.['error']">
      hfdsg
    </p>
  </div>
  <form [formGroup]="loginForm">
    <input type="text" id="nameInput" formControlName="nameInput" />
    <input type="submit" />
  </form>
</div>
